version: "3.9"
services:
  app:
    build: .
    container_name: survey-app
    ports:
      - "8080:8080"
    environment:
      SERVICE_PORT: 8080
      MONGO_URL: mongodb://mongo:27017
    depends_on:
      - mongo
  mongo:
    image: mongo:7
    container_name: mongo-local
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data: