apiVersion: v1
kind: Namespace
metadata:
  name: go-app-prod
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-app-deployment
  namespace: go-app-prod
  labels:
    app: go-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: go-app
  template:
    metadata:
      labels:
        app: go-app
    spec:
      containers:
      - name: go-app
        image: hagersaad329/repo-test:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: go-app-conf
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 20
          timeoutSeconds: 3
          failureThreshold: 3

        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 3
          failureThreshold: 3
        startupProbe:
          httpGet:
            path: /health
            port: 8080
          failureThreshold: 30 # 30 attempts
          periodSeconds: 5 # every 5 seconds
---
apiVersion: v1
kind: Service
metadata:
  name: go-app
spec:
  type: NodePort
  selector:
    app: go-app
  ports:
  - port: 8080
    targetPort: 8080
    nodePort: 30080
