apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  namespace: go-app-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
      - name: mongo
        image: mongo:7
        ports:
        - containerPort: 27017
        volumeMounts:
        - name: mongo-storage
          mountPath: /data/db
      volumes:
      - name: mongo-storage
        persistentVolumeClaim:
          claimName: myclaim-go-app
---
apiVersion: v1
kind: Service
metadata:
  name: mongo-srv
  namespace: go-app-prod
spec:
  selector:
    app: mongo
  ports:
  - port: 27017
    targetPort: 27017
