apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: myclaim-go-app
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  selector:
    matchLabels:
      app: go-app
