name: Build and Push Docker Image

on:
  push:
    branches:
      - master
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - name: Build Go app
        working-directory: ./src
        run: |
          go mod tidy
          go build -o survey ./main.go

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker images
        run: |
          docker build -t hagersaad329/repo-test:${{ github.sha }} ./src
          docker tag hagersaad329/repo-test:${{ github.sha }} hagersaad329/repo-test:v${{ github.run_number }}

      - name: Push Docker image to dockerhub
        run: |
          docker push hagersaad329/repo-test:${{ github.sha }}
          docker push hagersaad329/repo-test:v${{ github.run_number }}
