name: TEST Docker Login

on:
  push:
    branches:
      - master

jobs:
  test-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Debug Event
        run: |
          echo "Event: ${{ github.event_name }}"

      - name: Debug Secrets
        run: |
          if [ -z "${{ secrets.DOCKER_USERNAME }}" ]; then
            echo "DOCKER_USERNAME is EMPTY"
          else
            echo "DOCKER_USERNAME exists"
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: hagersaad329/repo-test:test
